$bg-base-color: #173f6a;
$primary-text-color: #555;
$text-color: #959595;
$dark-text-color: #4e4e4e;
$link-color: #5d5d5d;
$link-color-aux: #4075ad;
$link-hover-color: #ff0000;
$link-active-color: #ff0000;

$font-family-base: Kelson Sans Regular,sans-serif;
$font-family-aux: Kelson Sans Light,sans-serif;